<table class="table calendar">
    <tr>
        <td><div><span>ינואר</span></div></td>
        <td><div><span>פברואר</span></div></td>
        <td><div><span>מרץ</span></div></td>
    </tr>
    <tr>
        <td><div><span>אפריל</span></div></td>
        <td><div><span>מאי</span></div></td>
        <td><div><span>יוני</span></div></td>
    </tr>
    <tr>
        <td><div><span>יולי</span></div></td>
        <td><div><span>אוגוסט</span></div></td>
        <td><div><span>ספטמבר</span></div></td>
    </tr>
    <tr>
        <td><div><span>אוקטובר</span></div></td>
        <td><div><span>נובמבר</span></div></td>
        <td><div><span>דצמבר</span></div></td>
    </tr>
</table>