<table class="table calendar" [@fadeIn]="">
    <tr>
        <th>ראשון</th>
        <th>שני</th>
        <th>שלישי</th>
        <th>רביעי</th>
        <th>חמישי</th>
        <th>שישי</th>
        <th>שבת</th>
    </tr>
    <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week">
            <div [ngStyle]="{'background': day.isToday ? 'green' : null }" (click)="goToDate(day);">
                <span [ngStyle]="{'opacity': day.inMonth ? '1' : '0.4'}">
                    {{day.date}}
                </span>
            </div>
        </td>
    </tr>
</table>