table {
    position:absolute;
    top:0px; left:0px; right:0px; bottom:0px;
    width: 50%;
    height: 50%;
    margin: auto;
}
table td {
    border: none;
}
span {
    font-size: 24pt;
    font-weight: 600;
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.full {
    background: green;
}
.empty {
    background: transparent;
}