<h2>{{dayDesc}}</h2>
<div *ngIf="dayDetails">
    <table class="table table-fit">
        <tr>
            <th>קיצה</th>
            <td>
                <input type="checkbox" [(ngModel)]="dayDetails.kitza"/>                
            </td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead class="thead-defualt">
            <tr>
                <th>תפילה</th>
                <th>התפללתי</th>
                <th>במנין</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>שחרית</td>
                <td>
                    <input type="checkbox" [(ngModel)]="dayDetails.shaharit"/>                
                </td>
                <td>
                    <input type="checkbox" *ngIf="dayDetails.shaharit" [(ngModel)]="dayDetails.shaharitInMinyan"/>                
                </td>
            </tr>
            <tr>
                <td>מנחה</td>
                <td>
                    <input type="checkbox" [(ngModel)]="dayDetails.minha"/>
                </td>
                <td>
                    <input type="checkbox" *ngIf="dayDetails.minha" [(ngModel)]="dayDetails.minhaInMinyan"/>
                </td>
            </tr>
            <tr>
                <td>ערבית</td>
                <td>
                    <input type="checkbox" [(ngModel)]="dayDetails.arvit"/>
                </td>
                <td>
                    <input type="checkbox" *ngIf="dayDetails.arvit" [(ngModel)]="dayDetails.arvitInMinyan"/>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-fit">
        <tr>
            <th>לימוד</th>
            <td>
                <input type="checkbox" [(ngModel)]="dayDetails.limud"/>
            </td>
        </tr>
    </table>
    <table class="table table-bordered" *ngIf="dayDetails.limud">
        <thead>
            <tr>
                <th>מוסר</th>
                <th>חומש</th>
                <th>משנה</th>
                <th>גמרא</th>
            </tr>
        </thead>
        <tr>
            <td>
                <input type="checkbox" *ngIf="dayDetails.limud" [(ngModel)]="dayDetails.musar"/>
            </td>
            <td>
                <input type="checkbox" *ngIf="dayDetails.limud" [(ngModel)]="dayDetails.humash"/>
            </td>
            <td>
                <input type="checkbox" *ngIf="dayDetails.limud" [(ngModel)]="dayDetails.mishna"/>
            </td>
            <td>
                <input type="checkbox" *ngIf="dayDetails.limud" [(ngModel)]="dayDetails.gmara"/>
            </td>
        </tr>
    </table>
    <br/>
    <button class="button" (click)="save();">שמור</button>
    <button class="button" (click)="cancel();">בטל</button>
</div>