<top-nav-bar></top-nav-bar>
<div class="row-offcanvas row-offcanvas-left" [ngClass]="{'active': showSidebar}">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <right-nav-bar></right-nav-bar>
      </div>
  </div>
  <div id="main">
      <div class="col-md-12">
      	  <div style="margin-top: 10px">
      	    <p class="visible-xs">
              <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" (click)="showSidebar = !this.showSidebar;">
                <i [ngClass]="{'glyphicon glyphicon-chevron-right': showSidebar, 'glyphicon glyphicon-chevron-left': true}"></i>
              </button>
            </p>
      	  </div>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>